@import url("https://fonts.google.com/specimen/Nunito+Sans");

* {
    box-sizing: border-box;
    text-decoration: none;
    
}

:root {
    --font-dark: hsl(209, 23%, 22%);
    --bg-dark: hsl(207, 26%, 17%);
    --text-light: hsl(200, 15%, 8%);
    --input-dark: hsl(0, 0%, 52%);
    --bg-light: hsl(0, 0%, 98%);
    --text-dark: hsl(0, 0%, 100%);
    --font-size: 14px;
}
body{
    margin: 0;
    background: var(--bg-light);
    font-size: var(--font-size);
    font-family:"Nunito Sans", sans-serif;
    color:var(--text-light);
    overflow-x: hidden;
    text-decoration: none;
    width: 100%;
    min-height:100vh ;
}

.dark {
    --inputDark:hsl(209, 23%, 22%);
    background: var(--bg-dark);
    color:var(--text-dark) ;
    --bgLight:hsl(0, 0%, 98%);
}


/**********header styling**************/

.header h2 {
    font-weight: 800;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 80px;
    
}

.head {
    width: 100%;
}

.head:nth-child(1) {
    box-shadow: 0 0 4px rgba(0, 0, 0, .5);
    background:var(--text-dark) ;
    background: var(--inputDark);
    
}

 .fa-moon {
   cursor: pointer;
 }


 .header p i{
    padding-right: .3rem;
     font-weight: 300;
}

.fas {
    color: var(--text-dark);
}
/**********heading styling**************/


/********** search section styling **************/
.section-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 80px;
    margin-top: 2rem;
    
 }

  .fa-search {
    color: var(--input-dark);
    color: var(--bgLight);
}

 
.search-bar {
    width: 400px;
    border-radius: .2rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    background: var(--text-dark);
    background: var(--inputDark);
    position: relative;
    overflow: hidden;
}

.search-bar i{
   position: absolute;
   top: .85rem;
   left: .8rem;
   font-size: .7rem;
   cursor: pointer;
}

.search-bar input {
    background: transparent;
    border: none;
    outline: none;
    margin-left: .5rem;
    padding:.7rem 1.5rem;
    color: var(--bgLight);
    font-weight: 300;
    width: 100%;
}
.search-bar input::placeholder {
    color: var(--bgLight);
    font-weight: 300;
}
 
/********** search section styling **************/


/********** dropdown section styling **************/


.div-2 p {
    padding: .1rem 0;
    cursor: pointer;
    
}
.dropdown .div-1 {
    border-radius: .2rem;
    padding:.1rem 1.3rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--text-dark);
    background: var(--inputDark);
    cursor: pointer;
    position: relative;
}

.dropdown .div-1 i{
    padding-left: 2.5rem;
    color: var(--input-dark);
    color: var(--bgLight); 
}


  .div-2 {
    border-radius: .2rem;
    padding:.5rem 1.3rem;
    box-shadow: 0 0 4px rgba(0, 0, 0, .3);
    display: none; 
    position: absolute;
    min-width: 212px;
    background: var(--text-dark);
    margin-top: .1rem;
   
}


.div-dark {
    background: var(--inputDark);
}




/**********dropdown section styling**************/


/**********countries section styling**************/
   .showDropdown {
    display: block;
   }
   
   .countries {
    display: flex;
    justify-content: space-between;
    margin: 0 80px;
    margin-top: 2rem;
    flex-wrap: wrap;
   }

   .country {
      min-height: 300px;
      width: 250px;
      box-shadow: 0 0 4px rgba(0, 0, 0, .3);
      border-radius: .3rem;
      background: var(--text-dark);
      overflow: hidden;
      background: var(--inputDark);
      color: inherit;
      cursor: pointer;
      transition: 0.2s;
      margin-bottom: 60px;
   }

   .country:hover {
    opacity: .7;
    transform: scale(1.05);
    
   }
 
   .image {
    height: 200px;
  }

  .image img {
    width:100%;
    height: 100%;
    object-fit: cover;
    
  }

   .info h2 {
     padding: .8rem 0 .5rem .8rem;
     margin-top: .6rem;
     font-weight: 600;
     color: var(--input-dark);
     color: var(--bgLight); 
   }

    .b {
     padding: 0 0 .4rem .8rem ;
    font-weight: 300;
    color: var(--input-dark);
     color: var(--bgLight);
     font-weight: 300; 
   }
  
   
/**********countries section styling**************/

/* custom scroll bar */
::-webkit-scrollbar {
    width: 12px;
  }
  ::-webkit-scrollbar-track{
    background: var(--input-dark);
  }
  ::-webkit-scrollbar-thumb{
    background: var(--input-dark);
  }
  
  
  
  .topbtn {
    position: fixed;
    right: 2%;
    bottom: 10%;
    width: 30px;
    height: 30px;
    background: var(--input-dark);
    color: var(--input-dark);
    font-size: .6rem;
    cursor: pointer;
    align-self: center;
    z-index: 1;
    border-radius: .3rem;
   }

/**********media queries**************/

  @media(max-width: 480px) {
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 18px 45px;
        font-size: 12px;
    }
    
    .head {
        width: 100%;
    }
    
    .head:nth-child(1) {
        box-shadow: 0 0 4px rgba(0, 0, 0, .5);
        background:var(--text-dark) ;
        background: var(--inputDark);
        
    }

      .section-1 {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 0 80px;
        margin-top: 2rem;
    }

    .search-bar {
       width: 280px;
    }

    .dropdown .div-1 {
        width: 230px;
        margin-top: 2rem;
        margin-right: 3rem;
        border-radius: .2rem;
        padding:.2rem 1rem;
        box-shadow: 0 0 2px rgba(0, 0, 0, .3);
        cursor: pointer;
        position: relative;
    }

    .div-2 {
        border-radius: .2rem;
        padding:.5rem 1.3rem;
        margin-top: .2rem;
        box-shadow: 0 0 2px rgba(0, 0, 0, .3);
        display: none;
        position: absolute;
        width: 230px;
        z-index: 1;
        
    }


    .showDropdown {
        display: block;
    }
   

    .topbtn {
        position: fixed;
        right: 8%;
        bottom: 18%;
        width: 30px;
        height: 30px;
        background: var(--input-dark);
        color: var(--input-dark);
        font-size: .6rem;
        cursor: pointer;
        align-self: center;
        z-index: 1;
        border-radius: .3rem;
        display: none;
       }
  }

/**********media queries**************/
