.modal-div {
    margin: 60px 80px;
    overflow-x: hidden;
}

.modal {
   margin-top: 60px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}


.back-btn {
    box-shadow: 0 0 3px rgba(0, 0, 0, .2); 
    padding: .3rem 1.4rem;
    border-radius: .2rem;
    color: var(--input-dark);
    color: var(--bgLight); 
}

.back-btn i {
    margin-right: .6rem;
    color: var(--input-dark);
    color: var(--bgLight); 
     
}

.details {
    margin-top: 1rem;
    margin-left: 2rem;
}
.details h2 {
    margin-bottom: 1rem;
}

.points p  {
    margin-bottom: .5rem;
}

.border-count {
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.infoe {
    margin-bottom: 6.5rem;
}

.infoe p {
    margin-bottom: .5rem;
}

@media(max-width: 768px) {
   .modal {
     flex-direction: column;
     
   }
   .details {
    text-align: left;
    margin-right: 4rem;
    font-size: 10px;
    white-space: nowrap;
   }
   .infoe {
    text-align: left;
    margin-right: 2rem;
    font-size: 10px;
    white-space: nowrap;
   }
   img {
    width: 300px;
    height: 200px;
   }

   .points {
    display: block;
    max-height: unset;
   }
  
   #image {
    width: 650px;
   }

}